body { background: #eda861; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 23px; display: flex; }
.block-cache-0 { color: #a428be; font-size: 16px; margin-bottom: 5px; }
.block-cache-1 { color: #10f91; font-size: 12px; margin-bottom: 5px; }
.block-metrics-2 { color: #c89e3f; font-size: 21px; margin-bottom: 5px; }
.block-token-3 { color: #699d21; font-size: 13px; margin-bottom: 5px; }
.block-logger-4 { color: #42462; font-size: 13px; margin-bottom: 5px; }